<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Newtol_联系我</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../static/blog/css/base.css" rel="stylesheet">
<link href="../../static/blog/css/index.css" rel="stylesheet">
<link href="../../static/blog/css/m.css" rel="stylesheet">
<script src="../../static/blog/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../static/blog/js/hc-sticky.js"></script>
<script type="text/javascript" src=../../static/blog/js/comm.js></script>
<link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon" />
<script src="../../static/blog/js/mumu.js"></script>
<script src="../../static/blog/js/myJs.js"></script>
<script src="../../static/blog/js/safe.js"></script>
  <script src="../../static/blog/js/mouse.js"></script>
<!--[if lt IE 9]>
<script src="../../static/blog/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="/">程序猿Newtol</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/index">文章</a></li>
      <li><a href="/about">关于我</a></li>
      <li><a href="/share">时间轴</a></li>
      <li><a href="/game">开放API</a></li>
<!--      <li><a href="/gbook">联系我</a></li>-->
      <li><a href="/editor">md在线编辑器</a></li>
    </ul>
  </nav>
</header>
<article>
  <aside class="l_box">
    <div class="guanzhu">
      <h2>关注我 有惊喜</h2>
      <ul>
        <img src="../../static/blog/images/wx.jpg">
      </ul>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul id="contentType">
      </ul>
    </div>
    <div class="tuijian">
      <h2>站长推荐</h2>
      <ul id="recommandationList"></ul>
    </div>
    <div class="tuijian">
      <h2>阅读排行</h2>
      <ul id="readRankList"></ul>
    </div>
    <div class="cloud">
      <h2>联系我</h2>
      <ul id="keyWord"></ul>
    </div>
  </aside>
  <main class="r_box">
    <div class="gbook">
      <div class="liuyan"></div>
      <div class="gbox" >
        <p><strong>你也来说两句吧...</strong></p>
        <form id="guestBookForm" style="width:90%;margin: auto" name="guestBookForm" >
          <p class="yname"><span>昵称:</span>
            <label >
              <input name="username" type="text" placeholder="请输入昵称" class="inputText" id="username"  size="20">*
            </label>
          </p>
          <p><span>邮箱：</span>
            <label>
              <input name="userEmail" type="text" class="inputText" placeholder="请输入邮箱，会保密">*
            </label>
          </p>
          <p class="yzm"><span>验证码:</span>
            <label>
              <input name="validCode" placeholder="请输入验证码" type="text" class="inputText" size="18">*
              <img style="width: 95px;height: 25px;display: block;float: right" id = "validCode" src="../validCodeImg/1" onclick="changeCode();">
            </label>
          </p>
          <label >
            <textarea placeholder="欢迎留言，字数最多200字!如果是申请友链，请留下你的已经将我加入友链的链接地址！" name="message" rows="6" id="saytext" style="resize: none" ></textarea>
          </label>
          <input type="button" value="评论" class="btn2" onclick = "saveGbook();" style="width: 100px;height: 40px;" />
        </form>
      </div>

    </div>
  </main>
</article>
<footer>
  <div id="spig" class="spig" onclick="getSoup();">
    <div id="message">点我有惊喜</div>
    <div id="mumu" class="mumu" onclick=""></div>
  </div>
  <p><strong>版权所有：<a href="/index" target="_blank">程序猿Newtol</a> <a href="/">黔ICP备17003873号</a></strong></p>
  <p><strong>版权声明：本文为博主原创文章，著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处，附上博文链接！</strong></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
<script type="text/javascript">
    $(function () {
        getGBookList();
    });
    window.onload=getWeather();
    // 动态求换title
    window.onload = changeTitle();
    onload = myMouse();
    // 获取评论
    function getGBookList() {
        var msgList;
        $.ajax({
            url:"../guestBook",
            dataType:'json',
            async: false,
            success:function(json){
                msgList = json.data;
            }
        });
        if(msgList.length>0){
            for(var i in msgList){
                var time ="<span style='display: block;float: right'>"+msgList[i].createTime+"</span>";
                var  p1= "<p class='btime'>"+time+msgList[i].username+"</p>";
                var p2 = "<p class='fbinfo'>"+msgList[i].message+"</p>";
                $(".liuyan").append("<div class='fb' id='"+msgList[i].msgId+"'><ul>" +p1+p2+"</ul></div>");
                getGBookByPId(msgList[i].msgId);
            }
        }
    }
    function changeCode() {
        document.getElementById("validCode").src ="/validCodeImg/"+Math.random();
    }
    // 保存留言
    function saveGbook() {
        changeCode();
        if(!CheckForm()){
            return;
        }
        $.ajax({
            type: 'POST',
            url:"../guestBook",
            dataType:'json',
            async: false,
            data:$("#guestBookForm").serialize(),
            success:function(json){
                var data = json.data;
                if(json.errorCode===0){
                    alert("已经收到你的留言啦！");
                    window.location.reload();
                }else {
                    alert(json.errorMsg);
                }
            }
        });
    }
    function CheckForm(){
        var obj = document.guestBookForm;
        // 检验邮箱是否为邮箱
        var reg = /^\w+((.\w+)|(-\w+))@[A-Za-z0-9]+((.|-)[A-Za-z0-9]+).[A-Za-z0-9]+$/;

        if(obj.userEmail.value==""){
            alert("邮箱不可为空");
            obj.fromId.focus();
            return false;
        }else if(!reg.test(obj.userEmail.value)){
            alert("邮箱格式不正确");
            return false;
        }else if(obj.username.value == "站长回复" ){
            alert("你是皮卡丘吗？这么皮")
            return false;
        }
        // 检验是否有输入留言
        if(obj.message.value=="")
        {
            alert("您没什么话要说吗？");
            obj.message.focus();
            return false;
        }

        if(obj.username.value=="" ){
            alert("你为啥不输入你的昵称呢？");
        }
        return true;
    }
    // 生成二级评论节点
    function createMsgNode(data) {
        var time ="<span style='float: right' >"+data.createTime+"</span>";
        $("<div class='ecomment' style='width: 90%;display: block;margin: auto;background-color: #efefef'><span class=\"ecommentauthor\">"+data.username+"回复 :"+time+"</span>" + "<p class=\"ecommenttext\">"+data.message+"</p>" + "</div>").appendTo(document.getElementById(data.pid));

    }
    // 获取二级评论
    function getGBookByPId(pId) {
        var discussList;
        $.ajax({
            url:"../guestBook2?pId="+pId,
            dataType:'json',
            async: false,
            success:function(json){
                discussList = json.data;
            }
        });
        if(discussList.length>0){
            for(var i in discussList){
                createMsgNode(discussList[i]);
            }
        }
    }
</script>
</html>
