<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../../static/blog/css/base.css" rel="stylesheet">
  <link href="../../static/blog/css/index.css" rel="stylesheet">
  <link href="../../static/blog/css/m.css" rel="stylesheet">
  <script src="../../static/blog/js/jquery.min.js" type="text/javascript"></script>
  <script src="../../static/blog/js/mumu.js"></script>
  <script type="text/javascript" src="../../static/blog/js/comm.js"></script>
  <link rel="shortcut icon" href="../../static/favicon.ico" type="image/x-icon" />
  <script src="../../static/blog/js/safe.js"></script>
  <script src="../../static/blog/js/mouse.js"></script>
  <script src="../../static/blog/js/myJs.js"></script>
  <!--[if lt IE 9]>
  <script src="../../static/blog/js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav>
    <div class="logo"><a href="/">Newtol个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/index">文章</a></li>
      <li><a href="/about">关于我</a></li>
      <li><a href="/share">时间轴</a></li>
      <li><a href="/game">开放API</a></li>
      <li><a href="/gbook">留言&友链申请</a></li>
      <li><a href="/editor">md在线编辑器</a></li>
    </ul>
  </nav>
</header>
<article>
  <aside class="l_box">
    <div class="guanzhu">
      <h2>关注我 有惊喜</h2>
      <ul>
        <img src="../../static/blog/images/wx.jpg">
      </ul>
    </div>
    <div class="fenlei">
      <h2>文章分类</h2>
      <ul id="contentType"></ul>
    </div>
    <div class="tuijian">
      <h2>站长推荐</h2>
      <ul id="recommandationList"></ul>
    </div>
    <div class="tuijian">
      <h2>阅读排行</h2>
      <ul id="readRankList"></ul>
    </div>
    <div class="cloud">
      <h2>友情链接</h2>
      <ul id="keyWord"></ul>
    </div>
  </aside>
  <main class="r_box">
    <div class="contentList"></div>
    <div class="pagelist"></div>
  </main>

</article>
<footer>
  <div id="spig" class="spig" onclick="getSoup();">
    <div id="message">点我有惊喜</div>
    <div id="mumu" class="mumu" onclick=""></div>
  </div>
  <p><strong>版权所有：<a href="/index" target="_blank">Newtol个人博客</a> <a href="/">黔ICP备17003873号</a></strong></p>
  <p><strong>版权声明：本文为博主原创文章，著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处，附上博文链接！</strong></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>



<script type="text/javascript">
    $(function () {
        var page = getQueryVariable("page");
        if(!page){
            page=1;
        }
        var contentType = getQueryVariable("contentType");
        getContentListByContentType(contentType,page);
    });
    window.onload=getWeather();
    // 动态求换title
    window.onload = changeTitle();
    onload = myMouse();


    function getQueryVariable(variable)
    {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }


    function getContentListByContentType(contentType,page) {
        var data;
        $.ajax({
            url:"/blog/contentList/"+contentType+"?page="+page,
            dataType:'json',
            async: false,
            success:function(json){
                data = json.data;
            }
        });
        var content = data.content;
        for(var i in content){
            $(".contentList").append("<li><h3>"+"<a href='/blog/info?contentId="+content[i].contentId+"'>"+content[i].title+"</a></h3>"+"<p>"+content[i].summary+"</p></li>");
        }
        var pageKey = data.pageable.pageNumber+1;
        var pageTotal = data.totalPages;
        getPageList(contentType,pageKey,pageTotal);

    }
    function getPageList(contentType,pageKey,pageTotal) {
        if(pageKey < 5){
            for(var i=1;i<=5;i++){
                if(i<pageTotal){
                    $(".pagelist").append("<a href='/blog/list?contentType="+contentType+"&page="+i+"'>"+i+"</a>&nbsp;&nbsp;");
                }

            }
        }else {
            var j =2;
            var previous = pageKey-j;
            while (previous<pageKey){
                $(".pagelist").append("<a href='/blog/list?contentType="+contentType+"&page="+previous+"'>"+previous+"</a>&nbsp;&nbsp;");
                previous++;
            }
            alert(pageKey);
            while (j>=0 && pageKey<pageTotal){
                $(".pagelist").append("<a href='/blog/list?contentType="+contentType+"&page="+pageKey+"'>"+pageKey+"</a>&nbsp;&nbsp;");
                pageKey++;
                j--;
            }
        }
        $(".pagelist").append("<a href='/blog/list?contentType="+contentType+"&page="+pageTotal+"'>"+pageTotal+"</a>&nbsp;&nbsp;");
    }
</script>
</html>




