<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>newtol_404</title>

    <link rel="stylesheet" type="text/css" href="../../static/error/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../static/error/demo.css">
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="../../static/error/component.css">

    <style type="text/css">
        #Layer1 {position:absolute;	width:100%;	z-index:2;	top: 60%;}
        .STYLE3 {font-size: medium}
    </style>

</head>
<body>

<div class="container demo-1">
    <div class="content">
        <div id="large-header" class="large-header" style="height: 917px;">
            <canvas id="demo-canvas" width="1920" height="917"></canvas>
            <h1 class="main-title">是否发生了一些错误<br><span class="STYLE3">请联系管理员进行处理</span></h1>
        </div>
        <div id="Layer1">
            <nav class="codrops-demos">
                <a href="https://404.life/">网站首页</a>
                <a href="https://404.life/">公司简介</a>
                <a href="https://404.life/">产品中心</a>
                <a href="https://404.life/">成功案例</a>
                <a href="https://404.life/">在线留言</a>
                <a href="https://404.life/">联系我们</a>
            </nav>
        </div>
    </div>
</div>


<script src="../../static/error/TweenLite.min.js"></script>
<script src="../../static/error/EasePack.min.js"></script>
<script src="../../static/error/rAF.js"></script>
<script src="../../static/error/demo-1.js"></script>

</body></html>