<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>Newtol</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
</head>
<body>
<div id="layout">
    <form name="myForm" method="post" action="http://localhost:9090/addResumeTemplate">
        <div style="width:90%;margin: 10px auto;">
            <input type="text"  name="resumeName" placeholder="请输入标题" style="width: 75%;padding: 6px;border-radius: 4px">
            <select name="resumeType" style="width: 10%;border-radius: 4px;padding: 6px">
                <option value ="Java">Java</option>
                <option value ="PHP">PHP</option>
                <option value="C">C</option>
                <option value="前端">前端</option>
            </select>
            <input type="submit" name="submit" value="提交表单 Submit" style=";width:10%;padding: 5px;background-color: #FFF0F5;border-radius: 8px;">
        </div>
        <div id="editor-md"  style="width: 90%; height: 640px;"  >
            <textarea style="display:none;" name="resumeContent" id="resumeContent"></textarea>
        </div>
    </form>
</div>
<script src="../static/js/editor/jquery.min.js"></script>
<script src="../static/js/editor/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("editor-md", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../static/lib/",
        });
    });
</script>
</body>
</html>