<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Newtol的博客</title>

    <!--引入样式文件-->
    <link rel="stylesheet" href="../static/editor/css/style.css" />
    <link rel="stylesheet" href="../static/editor/css/editormd.preview.css" />

    <!--引入js文件-->
    <script src="../static/editor/js/editor/jquery.min.js"></script>
    <script src="../static/editor/js/editor/marked.min.js"></script>
    <script src="../static/editor/js/editor/prettify.min.js"></script>
    <script src="../static/editor/js/editor/raphael.min.js"></script>
    <script src="../static/editor/js/editor/underscore.min.js"></script>
    <script src="../static/editor/js/editor/sequence-diagram.min.js"></script>
    <script src="../static/editor/js/editor/flowchart.min.js"></script>
    <script src="../static/editor/js/editor/jquery.flowchart.min.js"></script>
    <script src="../static/editor/js/editor/editormd.js"></script>

</head>

<body>
<!--<select name="resumeType" id = "resumeType" style="width: 10%;border-radius: 4px;padding: 6px">-->
<!--</select>-->

<!--在该div中展示,如有初始化的数据可以放在textarea中-->
<div id="testEditorMdview" style=" width: 50%">
    <!--<textarea id="appendTest" style="display: none"></textarea>-->
</div>
<script type="text/javascript">
//    var content;
//    // 加载模板简历类型
//    $(function () {
//        $.ajax({
//            url:'/resumeTemplate/lists',
//            dataType:'json',
//            async: false,
//            success:function(json){
//                var sl = document.getElementById("resumeType");
//                var b = json.data;
//                for (var i in b) {
//                    sl.options.add(new Option(b[i].resume_name,b[i].resume_id));
//                }
//            }
//        });
//    })
//    $("#resumeType").change(function(){
//        mdToHtml();
//    });
    //markDown转HTMl的方法
//    function mdToHtml() {
//        var resume_id=$("#resumeType").val()
//        $.ajax({
//            url:'http://localhost:8081/editor/getTemplateResume/'+"9F9E8CF0BAF619BA356CF5192B944797",
//            dataType:'json',
//            async: false,
//            success:function(json){
//                content = json.data;
//            }
//        });
//        $("#testEditorMdview").html('<textarea id="appendTest"></textarea>');
//        $("#appendTest").val(content);
//        //转换开始,第一个参数是上面的div的id
//        editormd.markdownToHTML("testEditorMdview", {
//            htmlDecode: "style,script,iframe", //可以过滤标签解码
//            emoji: true,
//            taskList:true,
//            tex: true,               // 默认不解析
//            flowChart:true,         // 默认不解析
//            sequenceDiagram:true,  // 默认不解析
//        });
//    }

</script>
</body>
</html>